/*----Katie McLaren----*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-------------------------End Reset-------------------*/
/*@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');*/

:root{
    --yellow:#F6D64A;
    --teal:#55BCD5;
    --purple:#9B26B0;
    --blue:#499BD2;
    --dark-gray:#222222;
    --light-gray:#EAEAEA;
    --white:#FFFFFF;
    --black:#000000;
    --font-family:'Montserrat', sans-serif;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
@font-face{
    font-family : 'Molle';
    font-style : italic;
    font-weight : 400;
    font-display : swap;
    src : url(https://fonts.gstatic.com/s/molle/v21/E21n_dL5hOXFhWEsXzg.ttf) format('truetype');
}
@font-face{
    font-family : 'Montserrat';
    font-style : normal;
    font-weight : 400;
    font-display : swap;
    src : url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face{
    font-family : 'Montserrat';
    font-style : normal;
    font-weight : 600;
    font-display : swap;
    src : url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
body{
    margin:0 auto;
    line-height: 1.5;
}
h1, h2, h3{
    font-family: 'Molle', cursive;
    font-size: 2rem;
}
h4, p, q, small, nav, button, form{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}
.sr-only{
    position:absolute;
    width:1px;
    height:1px;
    left:-1000;
    overflow: hidden;
}
#skip{
    position:absolute;
    width:1px;
    height:1px;
    left:-1000;
    overflow: hidden;
}
#skip:focus{
    position:relative;
    top:10px;
    left:150px;
}
header h2{
    display:none;
}
header{
    margin:0 auto;
    width:100%;
    padding-bottom: 20px;
    padding-left: 20px;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr 1fr;
    grid-auto-rows: auto;
    gap:0.5rem;
    align-items: center;
    background:linear-gradient(rgba(85, 188, 213,0.8)0%, rgba(255, 255, 255, 0) 100%);
}
header h1{
    font-size: 2.5rem;
}
header p{
    width:80%;
}
#logo img{
    margin: 0;
    max-width:125px;
    max-height: 125px;
}

/*--------Navigation--------*/
#toggle{
    display:none;
}
.active{
    background-color: var(--yellow);
    color:var(--black);
}
nav ul{
    display: none;
}
nav{
    display: inline-block;
    position:absolute;
    top:20px;
    right:0px;
    transition:all 0.3s ease-in-out;
}
#menu-toggle label{
    background-color: var(--yellow);
    padding:15px 55px;
    text-align: center;
}
#menu-toggle label:hover{
    cursor: pointer;
    background-color: var(--dark-gray);
    color:var(--white);
}
nav li{
    border:0.5px solid var(--black);
    width:100px;
    background-color: var(--teal);
}
ul a{
    color: var(--dark-gray);
    text-decoration: none;
    margin: 0 auto;
    font-weight: bold;
}
ul a:hover{
    color:var(--yellow);
    background-color: var(--black);
}
/*-----------------Main styles---------------*/
main{
    width:100%;
    margin:0 auto;
}
/*----------Intro-------------*/
#intro{
    width:100%;
    display:block;
    margin: 20px 0;  
}
#intro h2{
    padding-left:20px;
}
#intro p{
    line-height: 2rem;
    width:80%;
    padding-left:20px;
}
#img-grid{
    width:100%;
    display:grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap:1rem;
}
#intro img{
    display: block;
    margin:0 auto;
    max-width:100%;
    max-height: 100%;
    
}
/*--------------plan trip-------*/
#plan{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap:0.5rem;
    background-color:var(--yellow);
    padding:20px 0;
}
#plan h3{
    padding-top:15px;
    padding-left: 20px;
}
#plan h4{
    padding-top:10px;
}
#plan div{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap:1rem;
    justify-items: center;
}
#plan img{
    max-width:150px;
    max-height:150px;
}
#plan section{
    width:250px;
    height:200px;
    background-color: var(--teal);
    border:2px solid var(--white);
    border-radius: 5px;
    text-align: center;
}
/*-----------Testimonials------*/
#testimonials{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-top: 40px;
    margin-bottom: 20px;
}
#testimonials div{
    margin-top:15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap:1rem;
    justify-items: center;
}
#testimonials section{
    width:80%;
    text-align: center;
    padding:5px 0;
}
#testimonials h3{
    padding-left: 20px;
}
#testimonials h4{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}
q{
    display: inline-block;
    font-style: italic;
}

/*------------About--------------*/
#about{
    width:100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap:1rem;
    background-color: var(--blue);
    padding: 15px 0;
}
#about div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}
#about section{
    max-width: fit-content;
    text-align: center;
}
#about h3{
    padding-bottom:15px;
    padding-left:20px;
}
#about h4{
    font-weight: bold;
}
#about img{
    max-width: 100px;
    max-height: 100px;
}

/*----------Contact us----------*/
#contact{
    display:block;
    width:100%;
    padding:20px 40px;
    justify-content: center;
}
#contact h3{
    display: inline-block;
}
#names label, legend, #selects label, label[for="email"], label[for="phone"]{
    font-weight: 600;
    text-transform: uppercase;
}
.required{
    color:var(--purple);
}
.form-required{
    font-family: var(--font-family);
    font-size: 1rem;
}
#contact label{
    display: block;
    width:100%;
    max-width: 500px;
    padding:10px 0;
    border-radius: 0;
}
form input{
    display: inline-block;
    width:100%;
    max-width: 500px;
    height:50px;
    border-radius: 0;
    border: 2px solid var(--purple);
}
input[type="submit"]{
    display: block;
    width:100%;
    max-width: 500px;
    height:50px;
    margin-top: 15px;
    border-radius: 0;
    background-color: var(--purple);
    color: var(--white);
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
}
fieldset{
    margin-top: 10px;
    padding:10px;
}
fieldset input{
    display: inline-block;
    margin-right:30px;
    width:50px;
    accent-color: var(--purple);
    border: 2px solid var(--purple);
}
.custom-select select{
    width:100%;
    max-width: 500px;
    height:50px;
    border-radius: 0;
    border: 2px solid var(--purple);
}
input::placeholder{
    padding-left: 10px;
}
/*----------Footer-------------*/
footer{
    width:100%;
    display: block;
    text-align: center;
    padding: 20px 0;
    background-color: var(--light-gray);
}
footer p{
    padding:5px 10px;
}
footer a{
    display: block;
    text-decoration: none;
    color: var(--dark-gray);
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    padding:5px 0;
}

/*------Media Queries-------*/
@media  screen and (min-width:780px){
    header{
        grid-template-columns: 150px 2fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-content: center;
    }
    nav{
        width: 100%;
        display: block;
        position: relative;
        text-align: center;
    }
    nav li{
        width:175px;
    }
    nav ul {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr;
    }
    nav li{
        display: inline-block;
        border:none;
        background: none;
    }
    ul a{
        display: inline-block;
        padding:10px;
    }
    #menu-toggle label{
        display: none;
    }
    header p{
        grid-column: 2/-1;
    }
    #img-grid{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width:90%;
        justify-content: center;
        padding: 10px 0;
        margin-left:30px;
    }
    #img-grid img{
        max-width:100%;
        max-height: 100%;
    }
    #img-grid picture{
        grid-column: 1/-1;
    }
    #plan h3{
        grid-column: 1/3;
    }
    #plan div{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #testimonials div{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #about div{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
    }
    #contact fieldset{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        align-content:  center;
        width:70%;
    }
    input{
        margin-right:0;
    }
    footer{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

@media  screen and (min-width:1000px){
    header{
        grid-template-columns: 100px 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    nav{
        grid-column: 3/4;
        grid-row: 1;
        overflow: visible;
    }
    #intro{
        display: grid;
        grid-template-columns: 500px 1fr;
        grid-template-rows: auto;
    }
    #intro h2{
        display: inline-block;
        width:50%;
    }
    #intro p{
        width:60%;
    }
    #img-grid{
        grid-column: 2/4;
        grid-row: 1/3;
        width:90%;
    }
    #img-grid img{
        max-width:100%;
        max-height: 100%;
    }
    #plan h3{
        grid-column: 1/3;
    }
    #plan div{
        display:grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr;
    }
    #testimonials div{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr;
    }
    form{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        gap:1rem;
    }
    #contact fieldset{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        align-content:  center;
        width:50%;
    }
    footer{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}