/*----Katie McLaren----*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-------------------------End Reset-------------------*/
@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');

:root{
    --yellow:#F6D64A;
    --teal:#55BCD5;
    --purple:#9B26B0;
    --blue:#499BD2;
    --dark-gray:#222222;
    --light-gray:#EAEAEA;
    --white:#FFFFFF;
    --black:#000000;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    margin:0 auto;
    line-height: 1.5;
}
h1, h2, h3{
    font-family: 'Molle', cursive;
    font-size: 2rem;
}
h4, p, q, small, nav, button, form{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}
.sr-only{
    position:absolute;
    width:1px;
    height:1px;
    left:-10000;
    overflow: hidden;
}
#skip{
    position:absolute;
    width:1px;
    height:1px;
    left:-10000;
    overflow: hidden;
}
#skip:focus{
    position:relative;
    top:10px;
    left:150px;
}
header h2{
    display:none;
}
header{
    margin:0 auto;
    padding-bottom: 20px;
    padding-left: 20px;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr 1fr;
    grid-auto-rows: auto;
    gap:0.5rem;
    align-items: center;
    max-width:1200px;
    background:var(--teal);
}
header h1{
    font-size: 2.5rem;
}
header p{
    width:80%;
}
#logo img{
    margin: 0;
    max-width:125px;
    max-height: 125px;
}

/*--------Navigation--------*/
#toggle{
    display:none;
}
nav{
    display: inline-block;
    position:absolute;
    top:20px;
    right:0px;
}
#menu-toggle label{
    background-color: var(--yellow);
    padding:15px 55px;
    text-align: center;
}
#menu-toggle label:hover{
    cursor: pointer;
    background-color: var(--dark-gray);
    color:var(--white);
}
nav ul {
    display: none;
    position: absolute;
    width:200px;
    height:auto;
    z-index: 1;
    text-align: center;
    background-color: var(--teal);
}
nav li{
    border:0.5px solid var(--black);
}
nav:hover ul {
    display: block;
}
ul a{
    color: var(--dark-gray);
    width: fit-content;
    text-decoration: none;
    margin: 0 auto;
    font-weight: bold;
}
ul a:hover{
    color:var(--yellow);
    background-color: var(--black);
}
/*-----------------Main styles---------------*/
main{
    max-width: 1300px;
    margin:0;
}
/*----------Intro-------------*/
#intro{
    width:100%;
    display:block;
    margin: 20px 0;
    
}
#intro h2{
    padding-left:20px;
}
#intro p{
    line-height: 2rem;
    width:80%;
    padding-left:20px;
}
#img-grid{
    width:100%;
    display:grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap:1rem;
}
#intro img{
    display: block;
    margin:0 auto;
    max-width:100%;
    max-height: 100%;
    
}
/*--------------plan trip-------*/
#plan{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap:0.5rem;
    background-color:var(--yellow);
    padding:20px 0;
}
#plan h3{
    padding-top:15px;
    padding-left: 20px;
}
#plan h4{
    padding-top:10px;
}
#plan div{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap:1rem;
    justify-items: center;
}
#plan img{
    max-width:150px;
    max-height:150px;
}
#plan section{
    width:250px;
    height:200px;
    background-color: var(--teal);
    border:2px solid var(--white);
    border-radius: 5px;
    text-align: center;
}
/*-----------Testimonials------*/
#testimonials{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-top: 30px;
    margin-bottom: 20px;
}
#testimonials div{
    max-width: calc(100%-1.5rem);
    margin-top:15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap:1rem;
    justify-items: center;
}
#testimonials section{
    width:80%;
    text-align: center;
    padding:5px 0;
}
#testimonials h3{
    padding-left: 20px;
}
#testimonials h4{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}
q{
    display: inline-block;
    font-style: italic;
}

/*------------About--------------*/
#about{
    width:100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap:1rem;
    background-color: var(--blue);
}
#about div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}
#about section{
    max-width: fit-content;
    text-align: center;
}
#about h3{
    padding-bottom:15px;
    padding-left:20px;
}
#about h4{
    font-weight: bold;
}
#about img{
    max-width: 100px;
    max-height: 100px;
}

/*----------Contact us----------*/
#contact{
    display:block;
    width:500px;
    padding:1rem;
    margin:0 auto;
}






/*----------Footer-------------*/
footer{
    width:100%;
    display: block;
    text-align: center;
    padding: 20px 0;
    background-color: var(--light-gray);
}
footer p{
    padding:5px 0;
}
footer a{
    display: block;
    text-decoration: none;
    color: var(--dark-gray);
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    padding:5px 0;
}